[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "ohmyzsh"]
	path = ohmyzsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "dbx"]
	path = dotfiles_dbx
	url = git@github.com:chodges_dbx/dotfiles_dbx.git
[submodule "dracula"]
	path = .vim/pack/themes/start/dracula/vim
	url = https://github.com/dracula/vim.git
[submodule "dracula_old"]
	path = .vim/pack/themes/opt/dracula
	url = https://github.com/dracula/vim.git
